.section-clients {
    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.17;
            margin-bottom: 50px;
        }
}

.clients__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.clients-container__icon {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    @media screen and (min-width: 480px) {
            width: 210px;
            width: calc((100% - 60px) / 2);
        }
    
        @media screen and (min-width: 768px) {
            width: 226px;
            width: calc((100% - 90px) / 3);
        }

    @media screen and (min-width: 1200px) {
            width: 170px;
            width: calc((100% - 150px) / 6);
        }
    
}

.clients__link {
    display: flex;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    /* padding: 16px 32px; */
    height: 92px;
    align-items: center;
    justify-content: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0ms;
    &:hover,
    &:focus {
        border: 1px solid #2196f3;
    }
}

.clients__icon {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0ms;
    .clients-link:hover>&,
    .clients-link:focus>& {
        fill: #2196f3;
    }
}